## Common (Backend + Frontend)
**/*.log
**/.vscode/
**/.idea
**/*.iws
**/*.iml
**/*.ipr

## Backend
**/target/
!**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# virtual environment
**/.venv

## Frontend

# installation folders
**/node_modules



